body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    
    background-color: black;
}

.container {
    width: min(100vmin, 600px);
    height: min(100vmin, 600px);

    font-size: min(33vmin, 200px);

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cell {
    background-size: contain;
    border-radius: 8px;
    border: black 1px solid;
}

.cell[type="x"] {
    background-image: url("images/cross.svg");
}

.cell[type="o"] {
    background-image: url("images/circle.svg");
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner {
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: rgba(255, 255, 255, 0.2);
}

.outcome-text {
    font-size: 100px;
    text-align: center;
}

.retry-button {
    padding: 10px;
    width: max-content;

    cursor: pointer;
    border: none;
    background-color: transparent;

    font-weight: bold;
    font-size: x-large;
    text-decoration: underline;

    transition: scale 0.3s;
}

.retry-button:hover {
    scale: 1.2;
}